#outer{
    height: 200px;
    width: 200px;
    margin: 50px;
    padding: 50px;
    background-color: red;
    box-sizing: border-box;
}

#inner{
    width: 100px;
    height: 100px;
    background-color: cyan;
}